[package]
name = "actuate"
version = "0.6.1"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "A reactive user-interface framework"
repository = "https://github.com/actuate-rs/actuate"

[features]
event-loop = ["dep:winit"]
rt = ["tokio/rt-multi-thread"]
tracing = ["dep:tracing"]
ui = ["event-loop", "dep:parley", "dep:peniko", "dep:pollster", "dep:taffy", "dep:vello"]
full = ["event-loop", "rt", "tracing", "ui"]
default = []

[workspace]
members = [
    ".",
    "macros"
]

[dependencies]
actuate-macros = { version = "0.1.4", path = "macros" }
parley = { version = "0.2.0", optional = true }
peniko = { version = "0.2.0", optional = true }
pollster = { version = "0.4.0", optional = true }
slotmap = "1.0.7"
taffy = { version = "0.6.1", optional = true }
thiserror = "2.0.3"
tracing = { version = "0.1.40", optional = true }
tokio = { version = "1.41.1", features = ["sync"] }
vello = { version = "0.3.0", optional = true }
winit = { version = "0.30.5", optional = true }
typeid = "1.0.2"

[dev-dependencies]
reqwest = { version = "0.12.9", features = ["json"] }
serde = { version = "1.0.215", features = ["derive"] }
tracing-subscriber = "0.3.18"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[example]]
name = "canvas"
required-features = ["rt", "ui"]

[[example]]
name = "core"
required-features = ["rt"]

[[example]]
name = "counter"
required-features = ["rt", "ui"]

[[example]]
name = "http"
required-features = ["rt", "ui"]

[[example]]
name = "list"
required-features = ["rt", "ui"]

[[example]]
name = "multi_window"
required-features = ["rt", "ui"]
