[package]
name = "actuate"
version = "0.9.2"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "A reactive user-interface framework"
repository = "https://github.com/actuate-rs/actuate"

[features]
ecs = ["dep:bevy_app", "dep:bevy_ecs", "dep:bevy_hierarchy", "dep:bevy_utils"]
executor = []
rt = ["executor", "tokio/rt-multi-thread"]
tracing = ["dep:tracing"]
full = ["ecs", "rt", "tracing"]
default = []

[workspace]
members = [
    ".",
    "macros"
]

[dependencies]
actuate-macros = { version = "0.1.6", path = "macros" }
bevy_app = { version = "0.15.0-rc.3", optional = true }
bevy_ecs = { version = "0.15.0-rc.3", optional = true }
bevy_hierarchy = { version = "0.15.0-rc.3", optional = true }
bevy_utils = { version = "0.15.0-rc.3", optional = true }
slotmap = "1.0.7"
thiserror = "2.0.3"
tracing = { version = "0.1.40", optional = true }
tokio = { version = "1.41.1", features = ["sync"] }
typeid = "1.0.2"

[dev-dependencies]
bevy = { version = "0.15.0-rc.3" }
reqwest = { version = "0.12.9", features = ["json"] }
serde = { version = "1.0.215", features = ["derive"] }
tracing-subscriber = "0.3.18"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[example]]
name = "composer"
path = "examples/core/composer.rs"

[[example]]
name = "traits"
path = "examples/core/traits.rs"

[[example]]
name = "counter"
path = "examples/ecs/counter.rs"
required-features = ["ecs"]

[[example]]
name = "http"
path = "examples/ecs/http.rs"
required-features = ["ecs", "rt"]

[[example]]
name = "timer"
path = "examples/ecs/timer.rs"
required-features = ["ecs"]
